/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 0em;
}

/* --- HEADER --- */
header{
    height: 100px;
    background-color: rgb(27, 161, 226);
}
header h1{
    font-size: 42px;
    text-align: center;
    vertical-align: bottom;
    line-height: 100px;
}

@media screen and (max-width: 970px){
  header h1{
    font-size: 25px;
    text-align: center;
    vertical-align: bottom;
    line-height: 100px;
  }
}

h1 {
  font-style: italic;
  color: #ffffff;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

.left {
  float: left;
}

.right {
  float: right;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: cyan;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  color: #afafaf;
  border-top: 1px solid lightgrey;
}

footer a{
  color: #5a5a5a;
}